<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
    <script>
        function check_auth(type) {
            var user_id = "{{user_id}}";
            var r_user_id = "{{r_user_id}}";
            
            if(type == 'newRestaurant') {
                if(user_id == 'new') {
                    alert('You are not authorized.');
                    return false;
                }
            } else {
                if(user_id != r_user_id) {
                    alert('You are not authorized.');
                    return false;
                }
            }
            return true;
        }
    </script>
</html>